.reset-password-page {
  font-family: GlacialIndifference;
  background-image: url("../../images/background-image.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  min-height: 80vh;
}

.reset-password-inner-container {
  display: flex !important;
  justify-content: center;
}

.reset-password-card {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  margin-right: 100px;
  padding: 10px;
  border-radius: 20px;
  background: #f8f0e3;
}

.reset-password-page .reset-password-title {
  font-size: 40px;
  font-weight: 500;
  position: relative;
  color: #294c7c;
  font-family: "GlacialIndifferenceBold";
}

.reset-password-input {
  height: 45px;
  width: 400px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 10px;
  font-size: 18px;
  margin: 20px 0px 12px 0px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  font-weight: 500;
}

.reset-password-page .reset-password-login-button {
  height: 45px;
  width: 40%;
  margin: 45px 0;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  background: #9b59b6;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
}

.reset-password-page .reset-password-login-button:hover {
  background: #71b7e6;
}

.reset-password-page .reset-password-card img {
  width: 250px !important;
  margin-left: 130px;
}
